@tailwind base;
@tailwind components;
@tailwind utilities;



section.best-body {
    background-color: #002855;
  }

section.best-border {
  border-color: #F3BA16;
}
nav.best-body {
  background-color: #002855;
}

nav.best-border {
  border-color: #F3BA16;
}

div.best-body {
  background-color: #F3BA16 ;
}

